<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Solver</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'solver/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Sudoku Solver</h1>
        <form method="post">
            {% csrf_token %}
            <table class="sudoku-input">
                {% for i in "012345678" %}
                <tr>
                    {% for j in "012345678" %}
                    <td><input type="number" name="cell_{{ forloop.counter0 }}" min="0" max="9" value="0"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Solve</button>
        </form>
    </div>
</body>
</html>
